body {
    font-family: 'poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;

}

.orange-color {
    color: rgb(255, 119, 0);
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.link-button1 {
    text-decoration: none;
    background-color: rgb(255, 149, 0);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.top-bannar {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}